<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <br>
  <p>Recebemos uma solicitação para redefinição de senha para esta conta.</p>
  <br>
  <p>Se foi você, clique no link abaixo para redefinir sua senha.</p>
  <br>
  <p>
    <a href="{{link}}" target="_blank">Redefinir senha</a>
  </p>
  <br>
  <p>Caso contrário, gentileza desconsiderar este email.</p>
  <br>
  <p>Atenciosamente,</p>
  <p>Equipe API Vendas</p>
</div>
